<h1>Add a Member</h1>
<div class="container">
<form action="/api/members" method="POST">
  <div class="form-group">
    <label for="name" class="">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="email" class="">Email</label>
    <input type="email" name="email" class="form-control">
  </div>
  <input type="submit" value="Add a member" class="btn btn-primary btn-block">
</form>
</div>